*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
body{
    background-color: #e0e5ec;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 600px;
    max-height: 800px;
    background-color: transparent;
    box-shadow: 5px 20px 20px #cfd4e0, -5px -5px 10px #ffffff;
    border-radius: 20px;
    
}
input{
    padding: 60px;
    width: 520px;
    background-color: transparent;
    border: none;
    box-shadow: 5px 5px 10px #b8becb inset, -5px -5px 10px #ffffff inset;
    outline: none;
    border-radius: 10px;
    text-align: right;
    color: #bf8dd1;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 30px;
}
input::placeholder{
    color: #bf8dd1;
    font-size: 30px;
}
button{
    width: 100px;
    padding: 40px;
    margin: 15px;
    outline: none;
    border: none;
    background-color: #e0e5ec;
    box-shadow: 5px 5px 10px #b8becb, -5px -5px 10px #ffffff;
    border-radius: 10px;
    font-size: 30px;
}

button:hover{
    box-shadow: inset 5px 5px 10px #b8becb, -5px -5px 10px #ffffff ;
}
button:active{
    background-color: #e0e5ec;
    opacity: 60%;
}
input:hover{
    box-shadow:inset 5px 5px 10px #b8becb, -5px -5px 10px #ffffff;
}
